<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Plant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/style/bootstrap.css}" href="../../style/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/style/blocks.css}" href="../../style/blocks.css" />

    <script th:src="@{/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js" />
    <script th:src="@{/js/blocks.js}" src="../../js/blocks.js" />

    <!--Morris Charts-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js" />-->
    <script th:src="@{/js/raphael-min.js}" src="../../js/raphael-min.js" />
    <script th:src="@{/js/morris.js}" src="../../js/morris.js" />
    <link rel="stylesheet" th:href="@{/style/morris.css}" href="../../style/morris.css" />

    <script th:src="@{/js/trend.js}" src="../../js/trend.js" />
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Brick Plant</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="#about">Trends</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="graph"></div>
</div>
</body>

</html>